<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Add Trainees</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
	<div th:insert="comman/header :: header"></div>
	<div class="container my-5">
		<h3>Add Trainees</h3>

		<div class="card-body">
			<div class="col-md-10">
				<form action="#" th:action="@{/add-trainee}" th:object="${trainee}"
					method="post">
					<div class="row">

						<div class="form-group col-md-8">
							<label for="name" class="col-form-label">Trainee Name</label> <input
								type="text" th:field="*{name}" class="form-control" id="name"
								placeholder="Trainee Name" />
						</div>

						<div class="form-group col-md-8">
							<label for="gender" class="col-form-label">Trainee Gender</label> <input
								type="text" th:field="*{gender}" class="form-control" id="gender"
								placeholder="Trainee Gender" />
						</div>

						<div class="form-group col-md-8">
							<label for="idType" class="col-form-label">Trainee idType</label> <input
								type="text" th:field="*{idType}" class="form-control" id="idType"
								placeholder="Trainee idType" />
						</div>

						<div class="form-group col-md-8">
							<label for="idNumber" class="col-form-label">Trainee idNumber</label> <input
								type="number" th:field="*{idNumber}" class="form-control" id="idNumber"
								placeholder="Trainee idNumber" />
						</div>

						<div class="form-group col-md-8">
							<label for="email" class="col-form-label">Trainee email</label> <input
								type="text" th:field="*{email}" class="form-control" id="email"
								placeholder="Trainee email" />
						</div>

						<div class="form-group col-md-8">
							<label for="address" class="col-form-label">Trainee address</label> <input
								type="text" th:field="*{address}" class="form-control" id="address"
								placeholder="Trainee address" />
						</div>

						<div class="form-group col-md-8">
							<label for="district" class="col-form-label">Trainee district</label> <input
								type="text" th:field="*{district}" class="form-control" id="district"
								placeholder="Trainee district" />
						</div>

						<div class="form-group col-md-8">
							<label for="pin" class="col-form-label">Trainee pin</label> <input
								type="number" th:field="*{pin}" class="form-control" id="pin"
								placeholder="Trainee pin" />
						</div>

						<div class="form-group col-md-8">
							<label for="state" class="col-form-label">State</label>
							<input type="text" th:field="*{state}" class="form-control"
								id="state" placeholder="State" />
						</div>

						<div class="col-md-6">
							<input type="submit" class="btn btn-success" value=" Submit ">
						</div>

					</div>
				</form>
			</div>
		</div>
	</div>

	<div th:insert="comman/footer :: footer"></div>

</body>

</html>